/* Patent_Survey_APP/frontend/app/grobals.css */

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-family: var(--font-noto-sans-jp);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* 参照 */
.ref {
    @apply text-slate-400 inline-flex items-center text-xs font-medium;
}

.ref-paragraph {
    @apply hover:underline hover:text-blue-700 cursor-default;
}

.ref-meta {
    @apply cursor-default;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
}
